html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    background: url(4K-Dark-Wallpaper-Background-HD-Image-for-Laptop-and-Desktop-24.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    font-family: mostserrat;
    background-attachment: fixed;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.logo {
    letter-spacing: 1px;
    float: left;
    color: #fff;
    font-size: 22px;
    line-height: 80px;
    padding: 0 6em;
}

.menu {
    float: right;
    line-height: 50px;
    margin: 0 6em;
}

    .menu ul {
        list-style: none;
    }

        .menu ul li {
            display: inline-block;
        }

            .menu ul li a {
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                font-weight: lighter;
                padding: 0 20px;
            }

ul li :nth-child(7) a {
    color: #009f8b;
    border: 1px solid #009f8b;
    padding: 10px 20px;
    border-radius: 4px
}

.header {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

    .header h1 {
        color: #00d0ff;
        font-size: 46px;
        font-weight: 400;
        margin-bottom: 8px;
    }


table.police {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00d0ff;
    width: 100%;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

table.rda {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00d0ff;
    width: 100%;
}

.middle h1 {
    color: #00d0ff;
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 8px;
}

.bottom {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

table.ic {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00d0ff;
    width: 100%;
}

.bottom h1 {
    color: #00d0ff;
    font-size: 46px;
    font-weight: 400;
    mar th td {
    padding: 60px;
    text-align: left;
    
}



